/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gaya Umum */
body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #fafafa;
    color: #0a6f7c;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-color: #09b038;
    color: white;
    padding: 15px 20px;
    text-align: center;
    position: relative;
}

/* Navigasi */
nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #000000;
}

/* Kontainer */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

/* Judul */
h1 {
    color: #ffffff;
}

h2 {
    color: #020107;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

/* Paragraf */
p {
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Tombol */
button {
    background-color: #09b038;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background-color: #066828;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 0.8em;
}

